In [1]:
import pandas as pd

In [3]:
file= "apple_stock_data.csv"
df = pd.read_csv(file)
print("shape=", df.shape)

shape= (252, 6)

In [5]:
df.describe()

         Price               Close  High   Low  Open Volume
count      252                 251   251   251   251    251
unique     252                 248   251   251   251    251
top     Ticker  174.13433837890625  AAPL  AAPL  AAPL   AAPL
freq         1                   2     1     1     1      1

In [6]:
df

,Price,Close,High,Low,Open,Volume
0,Ticker,AAPL,AAPL,AAPL,AAPL,AAPL
1,Date,NaN,NaN,NaN,NaN,NaN
2,2023-01-03,123.33064270019531,129.07955877586164,122.44315755676651,128.46818597294893,112117500
3,2023-01-04,124.60272979736328,126.87074702913759,123.340531781636,125.12535795794157,89113600
4,2023-01-05,123.2813491821289,125.99310505602139,123.02497040718632,125.36200610905166,80962700
...,...,...,...,...,...,...
247,2023-12-22,191.97467041015625,193.7694724442452,191.34995462543642,193.54139247575878,37149600
248,2023-12-26,191.42929077148438,192.262235089905,191.21113652656177,191.98458698376479,28919300
249,2023-12-27,191.52842712402344,191.8754947947896,189.48572401895245,190.8739795713314,48087700
250,2023-12-28,191.95484924316406,193.0257841884141,191.5482876644632,192.51014548202977,34049900
251,2023-12-29,190.91366577148438,192.76796185552627,190.12037892679615,192.27215946893213,42672100